/* .tour-button {  
  position: fixed;
  left: 100px;
  width: 240px;
  padding: 24px;
  top: calc(100vh - 60px);
  gap: 2px;
  font-size: 21px;
  z-index: 1;
} */

.tour-header .header {
  z-index: 10000;
  background-color: #0a0b10;
}

.tour-header .header svg,
.tour-header .header .header-title {
  color: gray;
}

.tour-header .header .header-user-image .image-border {
  opacity: 0.6;
}

.tour-button {
  position: fixed;
  left: 100px;
  width: 240px;
  padding: 24px;
  top: unset;
  bottom: 0;
  gap: 2px;
  font-size: 21px;
  z-index: 500;
  background: linear-gradient(to right, #ffbf00, #ff8000);
  border: none;
  color: #fff; /* Text color */
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 20px 5px rgba(255, 191, 0, 0.7); /* Adjust color and size as needed */
  animation: shining 1.5s infinite; /* Adjust duration as needed */
}

.chat-container {
  left: unset;
  position: fixed;
  right: 10px;
  width: 400px;
  bottom: 0;
  z-index: 500;
}

.w-full {
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.msg-post-container {
  padding: 8px;
  background-color: var(--secondary-background-color);
}

.chat-username {
  font-size: 16px;
  color: var(--primary-foreground-color-gold);  
  max-width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-date {
  font-size: 12px;
  color: white;
}

.justify-between {
  justify-content: space-between;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.player-message-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.typing-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-btn {
  width: fit-content;
  margin: auto;
  border: 2px solid var(--secondary-foreground-color);
  background-color: transparent;
  color: var(--secondary-foreground-color);
  border-radius: 6px;
  padding: 4px 80px;
  cursor: pointer;
  font-family: 'Rajdhani-semibold';
}

.message-div {
  display: flex;
  padding: 8px;
  width: 100%;
  flex-direction: column;
  gap: 14px;
  border-radius: 8px;
  background: var(--secondary-background-color);
}

.show-graphic {
  color: var(--privy-color-foreground) !important;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--privy-color-foreground);
  cursor: pointer;
  width: fit-content;
  padding: 0px 10px;
}

.reply-message-div {
  display: flex;
  padding: 8px;
  width: 100%;
  flex-direction: column;
  gap: 14px;
  border-radius: 12px;
  margin-top: 12px;
  /* background: var(--secondary-background-color); */
  background: #2f3241;
}


.sign-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px !important;
}

.message-image-root {
  margin-top: 50px;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bg-chat {
  background-color: var(--third-background-color) !important;
  color: var(--primary-text-color) !important;
  /* border: 1px solid var(--privy-color-error-light); */
  font-size: 16px;
}

.bg-chat::placeholder {
  color: var(--primary-text-color);
}

.chat-button {
  margin-bottom: -4px;
  padding: 24px;
  font-size: 21px;
  z-index: 500;
  margin: 0px;
  background: #e169ff !important;
  display: flex;
  justify-content: space-between;
  border: none;
  color: #fff; /* Text color */
  cursor: pointer;
  outline: none;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 0 20px 5px rgba(225,105,255);
  animation: chatShining 1.5s infinite; /* Adjust duration as needed */
}

@keyframes chatShining {
  0% {
    box-shadow: 0 0 20px 5px rgba(225,105,255, 0.7);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(225,105,255, 0.9);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(225,105,255, 0.7);
  }
}

.count-div {
  align-items: center;
  border: 1px solid #FFF;
  padding: 5px;
  border-radius: 30px;
  margin-right: 20px;
  height: fit-content;
  line-height: 1;
  width: 36px;
  height: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.error-credit {
  color: var(--privy-color-error);
}

.normal-credit {
  color: var(--primary-text-color);
}

.mobile-chat-btn {
  background: #e169ff !important;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  margin: auto;
  max-width: 330px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-top: 24px;
  justify-content: space-between;
}

.player-chat-btn {
    background: #e169ff !important;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: auto;
    width: 355px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: 30px;
    height: 50px;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(225, 105, 255);
    animation: chatShining 1.5s infinite;
}

@media only screen and (max-width: 420px) {
  .player-chat-btn {
        width: 335px;
        font-size: 16px;
  }
}
    
@media only screen and (max-width: 385px) {
    .player-chat-btn {
        width: 304px;
    }
}

.chat-loading-spinner {
  margin-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-alert {
  text-transform: uppercase;
  color: #c9a009;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 20% 10%;
}

.message {
  font-size: 14px;
  color: white;
  word-break: break-word;
  text-align: left;
}

.chat-content-contianer {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 166px);
  max-height: calc(100vh - 166px);
  background-color: var(--primary-background-color);
  overflow-y: auto;
  border: 1px solid #e169ff !important;
}

.back-to-chat-btn {
  background-color: transparent;
  width: 80%;
  border: 2px solid var(--primary-foreground-color);
  padding: 6px;
  color: var(--primary-foreground-color);
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 14px;
  border-radius: 8px;
}

.chat-btn-container {
  background-color: var(--primary-tab-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-btn {
  border-bottom: 2px solid var(--primary-foreground-color);
  color: var(--primary-text-color) !important;
  height: 60px;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.inactive-btn {
  border-bottom: 2px solid transparent;
  color: var(--secondary-text-color) !important;
  height: 60px;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.general-btn {
  border: 1px solid var(--primary-foreground-color);
  color: var(--primary-foreground-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.post-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post-container .description-box {
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
  border-radius: 0;
}

.post-btn {
  background: var(--secondary-foreground-color);
  border: 1px solid var(--secondary-foreground-color);
  color: #171923;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 18px;
  border-radius: 4px;
}

.disabled {
  pointer-events: none; /* Disables all click events */
  opacity: 0.5; /* Makes the div appear faded */
  cursor: not-allowed; /* Changes cursor to not-allowed */
}

@keyframes shining {
  0% {
    box-shadow: 0 0 20px 5px rgba(255, 191, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(255, 191, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(255, 191, 0, 0.7);
  }
}

.tour-button svg {
  margin-top: -1px;
}

.pwa-pop-desktop.welcome-tour-dialog {
  height: 525px !important;
}

.welcome-tour-dialog .newsletter-wrapper {
  padding: 30px;
}

.welcome-tour-dialog .newsletter-wrapper .blog-title {
  width: 80%;
}

.welcome-tour-dialog .newsletter-wrapper .blog-content {
  text-align: left;
}

.welcome-tour-dialog .newsletter-wrapper .bottom-caption-wrapper {
  flex-direction: column;
}

.welcome-tour-dialog .newsletter-wrapper .installation-msg p {
  margin: 0;
}

.welcome-tour-dialog .newsletter-wrapper .installation-msg p > b {
  color: var(--primary-foreground-color);
}

.welcome-tour-dialog .newsletter-wrapper .active-btn-launch {
  height: 80px;
  font-size: 32px;
}

.welcome-tour-dialog .newsletter-wrapper .button-box {
  border-radius: 20px;
}

.pwa-pop-desktop.overview-tour-dialog {
  height: 840px !important;
}

.de-popup.overview-tour-dialog {
  height: 890px !important;
}

.overview-tour-dialog .newsletter-wrapper {
  padding: 4px 24px;
}

.overview-tour-dialog .newsletter-wrapper .overview-tour-wrapper {
  width: 100%;
  margin-top: 20px;
  background: var(--secondary-background-color);
  padding: 20px;
  border-radius: 20px;
}

.overview-tour-dialog .newsletter-wrapper .overview-tour-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.overview-tour-dialog .newsletter-wrapper .overview-tour-row .success-icon {
  font-size: 30px;
  color: var(--primary-foreground-color);
  margin-top: -10px;
}

.overview-tour-dialog .newsletter-wrapper .overview-tour-row .error-icon {
  font-size: 30px;
  color: #eb5757;
  margin-top: -5px;
}

.overview-tour-dialog .newsletter-wrapper .overview-tour-row .blog-title {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
}

.overview-tour-dialog .newsletter-wrapper .blog-content {
  text-align: left;
}

.overview-tour-dialog .newsletter-wrapper .button-box {
  width: 100%;
}

.overview-tour-dialog .newsletter-wrapper .button-box.gold-btn {
  background: #f3b127;
  border: 1px solid #f3b127;
}

.overview-tour-dialog .newsletter-wrapper .button-box {
  border-radius: 16px;
  margin-top: 12px;
  height: 50px;
}

.overview-tour-dialog .newsletter-wrapper .button-box.button-active {
  color: var(--primary-background-color);
}

.overview-tour-dialog .newsletter-wrapper .button-box.button-inactive:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-foreground-color);
  cursor: default;
}

.deposit-tour-wrapper .footer {
  animation: none;
}

.deposit-tour-wrapper .footer-wrapper {
  background: unset;
  box-shadow: none;
}

.deposit-tour-wrapper .footer-wrapper .home-icon,
.deposit-tour-wrapper .footer-wrapper .footer-nav-item {
  visibility: hidden;
}

.deposit-tour-wrapper .footer-wrapper .footer-nav-item#signin {
  visibility: visible;
  background-color: var(--primary-background-color);
}

.deposit-tour-wrapper .footer-wrapper .footer-nav-item-signed#signin {
  background-color: var(--primary-background-color);
}

.deposit-tour-wrapper
  .wallet-container
  .purchase-container
  .bottom-popup-content {
  padding-top: 0;
}

.deposit-tour-wrapper
  .wallet-container
  .purchase-container
  .bottom-popup-content
  .wallet-container.deposit {
  padding-top: 20px !important;
}

.deposit-tour-wrapper
  .wallet-container
  .purchase-container
  .bottom-popup-content
  .wallet-container
  .address-box.method-card {
  background-color: var(--primary-background-color);
}

.trade-tour-wrapper .modal.no-background .modal-content .close {
  opacity: 0.1;
}

.user-tour-wrapper .footer {
  animation: none;
}

.user-tour-wrapper .footer-wrapper {
  background: unset;
  box-shadow: none;
}

.user-tour-wrapper .footer-wrapper .home-icon,
.user-tour-wrapper .footer-wrapper .footer-nav-item {
  visibility: hidden;
}

.user-tour-wrapper .footer-wrapper .footer-nav-item#scouts {
  visibility: visible;
  background-color: var(--primary-background-color);
  animation: fadeIn 3s ease;
}

.scouts-top5-container .bright-area .user-card {
  border: 4px solid var(--third-background-color);
}

.staking-tour-wrapper .modal.no-background .modal-content .close {
  opacity: 0.1;
}

.player-container .profile-container .staking-tour-wrapper section {
  background: unset;
}

.staking-tour-wrapper .staked {
  background: unset;
}

.staking-tour-wrapper .button-inactive,
.staking-tour-wrapper .button-inactive:hover {
  background: unset;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: hidden;
  z-index: 9997;
  border-radius: 20px;
}

.chat-content-contianer::-webkit-scrollbar {
  width: 8px;
}

.chat-content-contianer::-webkit-scrollbar-thumb {
  background: var(--primary-foreground-color);
  border-radius: 6px;
}

.chat-content-contianer:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary-foreground-color) !important;
}
.chat-content-contianer::-webkit-scrollbar-track {
  background: transparent;
}

@media only screen and (max-width: 480px) {
  .chat-content-contianer::-webkit-scrollbar-thumb {
    background-color: var(--primary-foreground-color) !important;
    border-radius: 6px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dark-area {
  opacity: 0.1 !important;
  pointer-events: none;
}

.no-pointer-area {
  pointer-events: none;
}

.bright-area {
  z-index: 9998 !important;
  position: relative;
}

.bright-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 30%; */
  z-index: 9999;
  animation: fadeOut 0.5s ease, fadeIn 3s ease !important;
}
.bright-rectangle .header-user-image {
  gap: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-background-color) !important;
}
.bright-rectangle .wallet-address {
  height: 59px;
  display: flex;
  align-items: center;
  background-color: var(--primary-background-color);
  justify-content: center;
  width: 60%;
  margin: auto;
  animation: none;
}
.bright-rectangle .wallet-address .description {
  background: black;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  width: 80%;
}

.bright-rectangle .continue-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background-color: #f3b127;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  z-index: 9997;
}

.bright-rectangle .complete-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  width: 120px;
  height: 45px;
  cursor: pointer;
  background-color: #6bc909;
  padding: 5px 10px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  z-index: 9997;
}

.bright-rectangle .wallet-description {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: black;
  color: white;
  top: 80vh;
  left: calc(50vw - 200px);
  /* text-transform: lowercase !important; */
  background: black;
  padding: 15px 15px;
  width: 420px;
  font-size: 22px;
  border-radius: 20px;
  /* display: block !important; */
  text-align: left;
}
.bright-rectangle .fade-in {
  animation: fadeIn 3s ease !important;
  display: block;
}

.bright-rectangle.bright-rectangle-deposit-tour-step1 {
  left: calc(50vw - 200px);
  animation: none !important;
  width: 400px;
}

.bright-rectangle .visit-wallet {
  top: 60px;
  left: 0;
}

.bright-rectangle .visit-wallet-btn {
  top: calc(60px + 58px + 20px); /* top + height + gap */
  left: calc(0px + 300px); /* left + gap */
}

.bright-rectangle .click-wallet {
  height: 85px;
}

.bright-rectangle .visit-deposit {
  top: 380px;
  left: calc(50vw + 205px);
}

.bright-rectangle .various-deposit {
  top: 525px;
  left: calc(50vw + 205px);
}

.bright-rectangle .crypto-deposit {
  top: 525px;
  left: calc(50vw + 205px);
}

.bright-rectangle .crypto-deposit-btn {
  top: calc(525px + 198px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .money-deposit {
  top: 200px;
  left: calc(50vw + 205px);
}

.bright-rectangle .money-deposit-btn {
  top: calc(200px + 198px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .start-trading {
  top: 990px;
  left: calc(50vw + 205px);
}

.bright-rectangle .start-trading-long {
  top: 1195px;
  left: calc(50vw + 205px);
}

.bright-rectangle .buy-token-input {
  top: 266px;
  left: calc(50vw + 205px);
}

.bright-rectangle .click-buy-button {
  top: 593px;
  left: calc(50vw + 205px);
}

.bright-rectangle .price-per-player {
  top: 330px;
  left: calc(50vw + 205px);
}

.bright-rectangle .price-per-player-btn {
  top: calc(330px + 310px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .select-payment-method {
  top: 240px;
  left: calc(50vw + 205px);
}

.bright-rectangle .select-payment-method-btn {
  top: calc(240px + 114px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .click-on-polygon {
  top: 527px;
  left: calc(50vw + 205px);
}

.bright-rectangle .transaction-sent {
  top: 440px;
  left: calc(50vw + 205px);
}

.bright-rectangle .transaction-sent-btn {
  top: calc(440px + 114px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .awarded-xp {
  top: 280px;
  left: calc(50vw + 205px);
}

.bright-rectangle .awarded-xp-btn {
  top: calc(280px + 141px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .sell-tokens {
  top: 675px;
  left: calc(50vw + 205px);
}

.bright-rectangle .sell-tokens-btn {
  top: calc(675px + 112.5px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .click-on-sells {
  top: 836px;
  left: calc(50vw + 205px);
}

.bright-rectangle .click-sell-button {
  top: 623px;
  left: calc(50vw + 205px);
}

.bright-rectangle .select-payment-method-sell-btn {
  top: calc(240px + 112.5px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .click-on-polygon-sell {
  top: 380px;
  left: calc(50vw + 205px);
}

.bright-rectangle .awarded-xp-sell-btn {
  top: calc(280px + 112px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .landing-season {
  top: 505px;
}

.bright-rectangle .season-screen-step1 {
  top: 686px;
}

.bright-rectangle .season-screen-step1-btn {
  top: calc(686px + 170px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .season-screen-step2 {
  top: 686px;
}

.bright-rectangle .season-screen-step2-btn {
  top: calc(686px + 114px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .season-screen-step3 {
  top: 900px;
}

.bright-rectangle .season-screen-step3-btn {
  top: calc(900px + 198px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .season-screen-step4 {
  top: 1305px;
}

.bright-rectangle .season-screen-step4-btn {
  top: calc(1305px + 170px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .season-screen-step5 {
  top: 1305px;
}

.bright-rectangle .user-screen-step1 {
  top: 426px;
}

.bright-rectangle .user-screen-step1-btn {
  top: calc(426px + 170px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .user-screen-step2 {
  top: 610px;
}

.bright-rectangle .user-screen-step2-btn {
  top: calc(610px + 142px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .user-screen-step3 {
  top: 790px;
}

.bright-rectangle .user-screen-step3-btn {
  top: calc(790px + 114px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .user-screen-step4 {
  top: 1052px;
}

.bright-rectangle .user-screen-step4-btn {
  top: calc(1052px + 142px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .user-screen-step5 {
  top: 1273px;
}

.bright-rectangle .scout-screen-step1 {
  top: 387px;
}

.bright-rectangle .scout-screen-step1-btn {
  top: calc(387px + 114px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .scout-screen-step2 {
  top: 860px;
}

.bright-rectangle .scout-screen-step2-btn {
  top: calc(860px + 198px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .scout-screen-step3 {
  top: 1833px;
}

.bright-rectangle .scout-screen-step3-btn {
  top: calc(1833px + 198px + 20px); /* top + height + gap */
  left: calc(50vw - 200px + 300px); /* left + gap */
}

.bright-rectangle .staking-tokens {
  top: 560px;
}

.bright-rectangle .staking-tokens-step1 {
  top: 390px;
  left: calc(50vw + 205px);
}

.bright-rectangle .staking-tokens-step2 {
  top: 187px;
  left: calc(50vw + 205px);
}

.bright-rectangle .staking-tokens-step2-btn {
  top: calc(187px + 140px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .staking-tokens-step3 {
  top: 410px;
  left: calc(50vw + 205px);
}

.bright-rectangle .staking-tokens-step4 {
  top: 390px;
  left: calc(50vw + 205px);
}

.bright-rectangle .staking-tokens-step4-btn {
  top: calc(390px + 278px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

.bright-rectangle .staking-tokens-step5 {
  top: 565px;
  left: calc(50vw + 205px);
}

.bright-rectangle .staking-tokens-step5-btn {
  top: calc(565px + 167px + 20px); /* top + height + gap */
  left: calc(50vw + 205px + 300px); /* left + gap */
}

@media only screen and (max-width: 600px) {
  .bright-rectangle .continue-btn,
  .bright-rectangle .complete-btn {
    font-size: 18px;
    height: 40px;
  }
  .bright-rectangle .wallet-description {
    width: 300px;
    font-size: 18px;
    left: calc(50vw - 150px);
    line-height: 1.2;
  }

  .bright-rectangle .visit-wallet {
    left: 50px;
  }

  .bright-rectangle .visit-wallet-btn {
    top: calc(60px + 76px + 10px); /* top + height + gap */
    left: calc(50px + 180px); /* left + gap */
  }

  .bright-rectangle .click-wallet {
    height: unset;
    top: calc(100vh - 240px);
  }

  .bright-rectangle .visit-deposit {
    top: 520px;
  }

  .bright-rectangle .various-deposit {
    top: 280px;
  }

  .bright-rectangle .crypto-deposit {
    top: 115px;
  }

  .bright-rectangle .crypto-deposit-btn {
    top: calc(115px + 181px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .money-deposit {
    top: 400px;
  }

  .bright-rectangle .money-deposit-btn {
    top: calc(400px + 202px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .start-trading {
    top: 560px;
  }

  .bright-rectangle .start-trading-long {
    top: 990px;
  }

  .bright-rectangle .buy-token-input {
    top: 335px;
  }

  .bright-rectangle .click-buy-button {
    top: 505px;
  }

  .bright-rectangle .price-per-player {
    top: 64px;
  }

  .bright-rectangle .price-per-player-btn {
    top: calc(64px + 290px + 20px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .select-payment-method {
    top: 240px;
  }

  .bright-rectangle .select-payment-method-btn {
    top: calc(240px + 94px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .click-on-polygon {
    top: 400px;
  }

  .bright-rectangle .transaction-sent {
    top: 166px;
  }

  .bright-rectangle .transaction-sent-btn {
    top: calc(166px + 116px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .awarded-xp {
    top: 280px;
  }

  .bright-rectangle .awarded-xp-btn {
    top: calc(280px + 145px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .sell-tokens {
    top: 364px;
  }

  .bright-rectangle .sell-tokens-btn {
    top: calc(364px + 95px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .click-on-sells {
    top: 405px;
  }

  .bright-rectangle .click-sell-button {
    top: 535px;
  }

  .bright-rectangle .select-payment-method-sell-btn {
    top: calc(240px + 120px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .click-on-polygon-sell {
    top: 499px;
  }

  .bright-rectangle .awarded-xp-sell-btn {
    top: calc(280px + 97.5px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .landing-season {
    top: 318px;
  }

  .bright-rectangle .season-screen-step1 {
    top: 397px;
  }

  .bright-rectangle .season-screen-step1-btn {
    top: calc(397px + 160px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .season-screen-step2 {
    top: 557px;
  }

  .bright-rectangle .season-screen-step2-btn {
    top: calc(557px + 114px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .season-screen-step3 {
    top: 675px;
  }

  .bright-rectangle .season-screen-step3-btn {
    top: calc(675px + 214px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .season-screen-step4 {
    top: 1060px;
  }

  .bright-rectangle .season-screen-step4-btn {
    top: calc(1060px + 160px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .season-screen-step5 {
    top: 1060px;
  }

  .bright-rectangle .user-screen-step1 {
    top: 345px;
  }

  .bright-rectangle .user-screen-step1-btn {
    top: calc(345px + 160px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .user-screen-step2 {
    top: 480px;
  }

  .bright-rectangle .user-screen-step2-btn {
    top: calc(480px + 138px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .user-screen-step3 {
    top: 795px;
  }

  .bright-rectangle .user-screen-step3-btn {
    top: calc(795px + 116px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .user-screen-step4 {
    top: 1050px;
  }

  .bright-rectangle .user-screen-step4-btn {
    top: calc(1050px + 138px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .user-screen-step5 {
    top: 1050px;
  }

  .bright-rectangle .scout-screen-step1 {
    top: 454px;
  }

  .bright-rectangle .scout-screen-step1-btn {
    top: calc(454px + 116px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .scout-screen-step2 {
    top: 1045px;
  }

  .bright-rectangle .scout-screen-step2-btn {
    top: calc(1045px + 160px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .scout-screen-step3 {
    top: 1680px;
  }

  .bright-rectangle .scout-screen-step3-btn {
    top: calc(1680px + 181px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .staking-tokens {
    top: 357px;
  }

  .bright-rectangle .staking-tokens-step1 {
    top: 504px;
  }

  .bright-rectangle .staking-tokens-step2 {
    top: 330px;
  }

  .bright-rectangle .staking-tokens-step2-btn {
    top: calc(330px + 142.5px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .staking-tokens-step3 {
    top: 77px;
  }

  .bright-rectangle .staking-tokens-step4 {
    top: 190px;
  }

  .bright-rectangle .staking-tokens-step4-btn {
    top: calc(190px + 277.5px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .bright-rectangle .staking-tokens-step5 {
    top: 320px;
  }

  .bright-rectangle .staking-tokens-step5-btn {
    top: calc(320px + 187.5px + 10px); /* top + height + gap */
    left: calc(50vw - 150px + 180px); /* left + gap */
  }

  .pwa-pop.welcome-tour-dialog {
    max-width: 300px;
  }

  .pwa-pop.overview-tour-dialog {
    max-width: 300px;
    margin-top: 60px !important;
    height: 70vh !important;
  }

  .welcome-tour-dialog .newsletter-wrapper .blog-title {
    font-size: 24px;
    line-height: 26px;
  }

  .welcome-tour-dialog .newsletter-wrapper .blog-content {
    padding: 0;
    width: 100%;
  }

  .welcome-tour-dialog .newsletter-wrapper .blog-content p {
    padding: 0;
    margin: 0;
  }

  .welcome-tour-dialog .newsletter-wrapper .button-box {
    height: 50px;
    font-size: 18px;
  }

  .welcome-tour-dialog .newsletter-wrapper .active-btn-launch.button-box {
    height: 50px;
    font-size: 22px;
  }

  .overview-tour-dialog .newsletter-wrapper {
    padding: 3px 15px;
  }

  .overview-tour-dialog .newsletter-wrapper .overview-tour-row .blog-title {
    font-size: 18px;
  }

  .overview-tour-dialog .newsletter-wrapper .overview-tour-row .success-icon {
    font-size: 20px;
    margin-top: -1px;
  }
  .overview-tour-dialog .newsletter-wrapper .overview-tour-row .error-icon {
    font-size: 20px;
    margin-top: 3px;
  }
  .overview-tour-dialog .newsletter-wrapper .button-box {
    margin-top: 10px;
    height: 40px;
    font-size: 18px;
  }
  .overview-tour-dialog .newsletter-wrapper .overview-tour-wrapper {
    margin-top: 10px;
    padding: 16px;
  }
  .overview-tour-dialog .newsletter-wrapper .blog-content {
    width: 100%;
    padding: 0 16px;
    margin-top: 7px !important;
  }
  .overview-tour-dialog .newsletter-wrapper .addhome-btn-wrapper {
    bottom: 16px;
  }
}

.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid var(--primary-text-color);
}

.chat-skeleton {
  background: #171923;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 100%;
  height: 100px;
}

.credit-skeleton {
  background: #171923;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.message-skeleton {
  background: #171923;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 100%;
  height: 115px;
  border-radius: 8px;
}

.avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid var(--primary-text-color);
  background-size: cover;
}  


.anonymous-chat-avatar {  
  background-image: url('@assets/images/avatar/Group-10.webp') !important;
}

@media only screen and (max-width: 480px) {
  .dark-overlay {
    border-radius: 0;
  }
  .deposit-tour-wrapper
    .wallet-container
    .purchase-container
    .bottom-popup-content
    .wallet-container.deposit {
    margin-top: 0 !important;
    padding-top: 30px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .scouts-top5-container .bright-area .user-card {
    border: unset;
    border-bottom: 1px solid #313241;
  }
  .bright-rectangle .stake-button {
    min-height: 50px;
  }

  .chat-button {
    display: flex;
    justify-content: space-between;
  }

  .chat-container {
    left: unset;
    position: fixed;
    right: 0px;
    width: 100%;
    top: unset;
    bottom: 0;
  }

  .chat-content-contianer {
    min-height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
  }
}
