.bottom-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  /*padding-top: 100px;  Location of the box */
  /* padding-top: 10vh; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 50%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1.3s;
}

.bottom-popup.show {
  display: block;
  height: 100%;
}

.mobile-bottom-sheet {
  flex-direction: column;
  overflow: auto;
  justify-content: flex-end !important;
}

@keyframes slidein-low {
  from {
    top: 30%;
    transform: scaleY(0.1);
  }

  to {
    top: 0%;
  }
}

/* Modal Content */

.bottom-popup-content {
  position: relative;
  /* margin-top: 180px !important; */
  margin-top: 20vh !important;
  background-color: var(--primary-background-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1vh;
  height: calc(75vh-100px);
  margin: auto;

  min-height: calc(75vh - 120px);
  /* width: 350px; */

  animation-duration: 0.3s;
  animation-name: slidein-low;
}

@media only screen and (min-width: 1200px) {
  .bottom-popup-content {
    position: relative;
    margin-top: 180px !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1vh;
    height: calc(75vh-100px);
    margin: auto;
    min-height: calc(75vh - 120px);
    animation-duration: 0.3s;
    animation-name: slidein-low;
  }
}

@media only screen and (max-width: 420px) {
  .bottom-popup-content.nft,
  .bottom-popup-content.stake {
    position: absolute;
    bottom: 0px;
    height: unset;
  }
}

.close-button-draftee {
  font-family: 'Rajdhani-semibold';
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-foreground-color);
  text-decoration: underline;
  margin: 100px 0;
  cursor: pointer;
}

.bottom-popup-content .close-button {
  font-family: 'Rajdhani-semibold';
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-foreground-color);
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0px;
  z-index: 9;
  top: 60%;
}

@media only screen and (min-width: 640px) {
  .bottom-popup-content .close-button {
    top: 90%;
  }
}

.bottom-popup-content.wert-modal .close-button {
  top: 93%;
}

.close-button-wert {
  font-family: 'Rajdhani-semibold';
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-foreground-color);
  text-decoration: underline;
  margin: 35px 0;
  /* height: 60px; */
}

.wert-deposit-modal .close-button {
  font-family: 'Rajdhani-semibold';
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-foreground-color);
  text-decoration: underline;
  height: 60px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.wert-deposit-modal .close-button-wert {
  height: 30px;
  position: absolute;
  bottom: 0;
  z-index: 9;
}

.wert-deposit-modal.deposit-modal.show .modal-content {
  justify-content: start;
}

@media only screen and (max-width: 420px) {
  .bottom-popup-content {
    width: 100%;
    /* min-height: calc(100% - 180px) !important; */
    height: 80vh !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .bottom-popup-content.stake {
    min-height: calc(100% - 380px) !important;
    margin-top: 380px !important;
  }

  .purchase-container-mobile .bottom-popup-content {
    height: calc(100% - 180px) !important;
    margin-top: 180px !important;
  }

  .purchase-container-mobile .bottom-popup-content .methods-box {
    /* height: calc(100% - 100px) !important; */
  }

  .purchase-container-mobile .wert-widget-wrapper {
    min-height: 600px;
  }
}

/* desktop send*/
@media only screen and (min-width: 480px) {
  /* .bottom-popup.nft {
    top: auto;
    bottom: 70px;
  } */

  .bottom-popup-content.nft {
    min-height: calc(100% - 320px);
    margin-top: 250px !important;
    width: 375px;
  }
  .bottom-popup-content.stake {
    width: 375px;
    margin-top: 400px !important;
    min-height: 450px;
    height: 450px;
  }
  .bottom-popup-content.wallet {
    width: 375px;
    height: calc(min(670px, 82vh));
    min-height: unset;
  }
}

.api-bottom-popup .tx-link {
  padding: 20px 0;
}

.close-button-zindex {
  position: relative;
  z-index: 20;
}
.currency_drop_container {
  flex-direction: column;
  text-align: left;
}

.currency_drop_container-send {
  overflow-y: auto;
}
