.Light {
  background: var(--primary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

/* Style.css */

.Light .btn-disabled {
  background: none !important;
  color: var(--primary-text-color-light) !important;
  border: 1px solid var(--primary-text-color-light) !important;
  cursor: pointer;
}

.Light .form-submit-btn {
  color: var(--primary-text-color-light);
  border: 1px solid var(--primary-text-color-light);
}

.Light .border-top {
  border-top: 1px solid transparent !important;
}

.Light .modal-content > section {
  background: var(--primary-background-color-light) !important;
}

.Light .tab-item-test > button {
  color: var(--secondary-text-color-light) !important;
}

.Light .tab-item-test.tab-active > button {
  color: var(--primary-text-color-light) !important;
}

.Light .tab-active {
  color: var(--secondary-text-color-light) !important;
}

.Light .home {
  background: linear-gradient(
      180deg,
      rgba(23, 25, 35, 0) 38.16%,
      #ebebeb 45.99%
    ),
    url('@assets/images/stadium_lightx.webp'), #ebebeb;
  background-repeat: no-repeat;
  /* background-size: 100vw 120vh; */
  background-size: contain;
}

.Light .nft-item {
  border-bottom: 1px solid transparent !important;
}

.Light .nft-item .nft-price {
  color: var(--primary-text-color-light) !important;
}

.Light .item {
  background: var(--primary-background-color-light) !important;
}

.Light .item > .content > .notification > .notification-title > div {
  color: var(--primary-text-color-light) !important;
}

.Light .szh-menu {
  background-color: var(--secondary-background-color-light) !important;
}

.Light .szh-menu__item {
  color: var(--primary-text-color-light) !important;
}

/* Font.css */
.Light .h-4,
.Light .h-5,
.Light .ct-p1 {
  color: var(--primary-text-color-light) !important;
}

/* BottomPopup.css */
.Light .bottom-popup-content {
  background-color: var(--primary-background-color-light);
}

.Light > .staked-amount-raw > .staked-symbol-wrapper > .minus-symbol {
  background: var(--primary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light > .button-inactive {
  background: var(--primary-background-color-light);
}

/* .Light > .button-inactive:hover {
      background: #81df0d;
      color: #212435;
  } */

/* ComingSoon.css */
.Light .coming-soon-time-card {
  background: var(--secondary-background-color-light) !important;
}

/* DialogBox.css */
.Light .modal {
  background-color: rgba(0, 0, 0, 0.3);
}

.Light .modal-content {
  background-color: var(--primary-background-color-light) !important;
}

/* FilterModal.css */
.Light .filter-modal-body {
  background-color: var(--primary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .filter-modal-body .MuiSelect-select.MuiSelect-select {
  color: var(--primary-text-color-light) !important;
  font-size: 17px;
}

.Light .filter-modal-body .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.Light
  .filter-modal-body
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.Light .filter-modal-body .MuiOutlinedInput-root input {
  color: var(--primary-text-color-light) !important;
}

.Light .filter-modal-body .MuiSelect-select.MuiSelect-select {
  background: unset !important;
}

.Light .filter-modal-body .MuiTextField-root label {
  color: var(--primary-text-color-light) !important;
}

.Light .filter-modal-body .MuiTextField-root button {
  color: var(--primary-text-color-light) !important;
}

/* FormCheckbox.css */
.Light .MuiTypography-body1 {
  color: var(--primary-text-color-light) !important;
}

/* FormInput.css */

.Light .textinput-wrapper {
  background: var(--secondary-background-color-light) !important;
}

.Light .textinput-wrapper input {
  color: var(--primary-text-color-light) !important;
}

.Light .textinput-wrapper textarea {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

/* NftCard.css */

.Light .nft-card {
  background: var(--secondary-background-color-light) !important;
  border-radius: 17px !important;
}

.Light .nft-card .second-part .nft-name:hover {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-card .second-part .nft-title,
.Light .nft-card .second-part .nft-number {
  color: var(--primary-text-color-light) !important;
}

/* .Light .nft-list-grid-mob .nft-card {
  border: none !important;
} */

.Light .kiosk_title {
  color: var(--primary-text-color-light) !important;
}

.Light .kiosk_sub_title {
  color: var(--primary-text-color-light) !important;
}

.Light .kiosk_sub_desc {
  color: var(--primary-text-color-light) !important;
}

.Light .kiosk_sub_desc_box {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .kiosk_player_name {
  color: var(--primary-text-color-light) !important;
}

.Light .kiosk-container .my-shop-content-wrapper {
  background: var(--primary-background-color);
}

/* @media screen and (min-width: 420px) {
  .Light .nft-card {
    border: 4px solid var(--secondary-background-color-light);
  }
} */

/* Select.css */
.Light .MuiSelect-select.MuiSelect-select {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .MuiSelect-icon {
  color: var(--primary-text-color-light) !important;
}

/* WalletModal */
.Light .seedTextButton {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .seedTextButton_confirm_container {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .seedTextButton_confirm {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .seedWallet_container {
  background: var(--secondary-background-color-light) !important;
}

/* SearchBarPlayerList.css */
.Light .player_list_container {
  background: var(--primary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .search-bar-player-list .search-filter-show-item {
  color: var(--primary-icon-color-light);
}

/* Header.css */
.Light .header {
  background: var(--primary-background-color-light);
}

.Light .header-title {
  color: var(--primary-text-color-light) !important;
}

.Light .menu {
  background-color: var(--primary-background-color) !important;
}

/* Footer.css */
.Light .footer-wrapper {
  background-color: var(--primary-background-color-light);
}

.Light .footer-nav-item {
  color: var(--primary-icon-color-light) !important;
}

/* .Light .footer-nav-item > img {
      filter: invert(100%) sepia(5%) saturate(151%) hue-rotate(37deg)
        brightness(21%) contrast(102%) !important;
  } */

/* Landing.css */
.Light .login-wrapper {
  background: white;
}

.Light .header-ticker-container {
  background: var(--secondary-background-color-light) !important;
}

.Light .input-box.otp {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .button-box {
  border: 1px solid var(--secondary-text-color-light) !important;
  color: var(--secondary-text-color-light) !important;
}

.Light .page-link {
  color: var(--secondary-text-color-light) !important;
}

.Light .new-launch-title {
  color: var(--primary-text-color-light) !important;
}

.Light .new-launches-nft-content .new-launch-title .new-nft-content {
  color: var(--primary-text-color-light) !important;
}

.Light .container > .tutorials-section {
  background-color: var(--third-background-color-light);
}

.Light .close_icon {
  background: var(--primary-icon-color-light) !important;
}

.Light .close_icon_notification {
  background: var(--primary-icon-color-light) !important;
}

.Light .app-landing-container .players-trending-section .players-landing-item {
  background: var(--secondary-background-color-light);
}

.Light .collectibles-section,
.Light .versus-players-section,
.Light .rated-players-section,
.Light .drafted-players-section {
  background-color: var(--third-background-color-light);
}

.Light .drafted-players-section {
  background-color: var(--primary-background-color-light);
}

.Light .app-landing-container .row:nth-child(odd) {
  background-color: var(--third-background-color-light);
}

.Light .app-landing-container .row:nth-child(even) {
  background-color: var(--primary-background-color-light);
}

.Light
  .app-landing-container
  .rated-players-section
  .section-wrapper
  .section-title {
  background-color: var(--secondary-background-color);
}

.Light .app-landing-container .rate-card,
.Light .app-landing-container .investment-card {
  box-shadow: 0 0 6px var(--third-background-color-light),
    0 4px 10px var(--third-background-color-light);
  background: var(--secondary-background-color-light);
}

/* Careers.css */
.Light .careers-select > .MuiFormControl-root {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

/* Language.css */
.Light .language {
  background-color: var(--secondary-background-color-light) !important;
}

/* NftList.css */
.Light .nft-list-container {
  background-color: var(--third-background-color-light);
}

.Light .nft-list-container .row ~ .row {
  box-shadow: 0 0 10px 10px var(--primary-shadow-color-light);
}

.Light .nft-list-container .row:nth-child(odd) {
  background-color: var(--secondary-background-color-light);
}

.Light .nft-list-container .row:nth-child(even) {
  background-color: var(--third-background-color-light);
}

.Ladies .nft-list-container .row:nth-child(odd) .nft-card {
  background-color: var(--third-background-color-ladies) !important;
}

.Black .nft-list-container .row:nth-child(odd) .nft-card {
  background-color: var(--third-background-color-black) !important;
}

/* Notification.css */
.Light .switch-container .MuiFormControl-root {
  background-color: var(--secondary-background-color-light) !important;
}

.Light .notification-title.plain {
  color: var(--primary-text-color-light) !important;
}

.Light .notification-title.plain:hover {
  color: var(--primary-text-color-light) !important;
}

.Light .link-title {
  color: var(--secondary-text-color-light) !important;
}

.Light .arrow {
  color: var(--secondary-text-color-light) !important;
}

/* NotificationSettings.css */
.Light .my_user_setting_input {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .copy_share_link {
  background: var(--secondary-background-color-light) !important;
}

.Light .referral_desc {
  color: var(--primary-text-color-light) !important;
}

.Light .approx_dollar {
  color: var(--primary-text-color-light) !important;
}

.Light .matic_Icon {
  background: var(--secondary-background-color-light) !important;
}

.Light .payouts_date {
  color: var(--primary-text-color-light) !important;
}

/* Onboarding.css */
.Light .onboarding-container {
  background: var(--primary-background-color-light);
}

.Light .note-wrapper {
  background: var(--primary-background-color-light);
}

.Light .note-wrapper > span {
  color: var(--primary-text-color-light) !important;
}

.Light .note-wrapper > .metamask-btn > span {
  color: var(--primary-text-color-light) !important;
}

.Light .verification-container {
  background: var(--primary-background-color-light);
}

.Light .enter-number-title {
  color: var(--primary-text-color-light) !important;
}

/* Player.css */

.Light .player-container section {
  background-color: var(--primary-background-color);
}
.Light .coin-table-container {
  background-color: var(--third-background-color);
}
.Light .coin-table-container .player-list-container.user-list-container {
  background-color: var(--third-background-color);
}
.Light .player-container .profile-container section {
  background-color: var(--secondary-background-color);
}

.Light .player-container .profile-container section.profile-kiosk-section {
  background-color: var(--primary-tab-color);
}

.Light .player-container .profile-container section.profile-history-section {
  background-color: var(--primary-tab-color);
}

.Light
  .player-container
  .profile-container
  section.profile-history-section
  .user-card {
  border-color: var(--primary-tab-color);
}
.Light .user-card.user-card-supporter {
  border-color: var(--third-background-color);
  background-color: var(--third-background-color);
}
.Light .user-card.user-card-supporter:hover {
  border-color: var(--primary-foreground-color);
}
.Light .player-container .profile-container section .blog-title {
  background-color: var(--third-background-color);
}

.Light .player-container .messages-container .message-action-reply {
  color: var(--primary-icon-color);
}

.Light .player-container .box-wrapper {
  background-color: var(--secondary-background-color);
}

/* .Light .player-container .profile-container section ~ section {
  box-shadow: 0 0 10px 10px var(--primary-shadow-color);
}
.Light .player-container .profile-container section:nth-child(odd) {
  background-color: var(--third-background-color);
}

.Light .player-container .profile-container section:nth-child(even) {
  background-color: var(--primary-background-color);
} */

.Light .player-container .player-card {
  background-image: linear-gradient(
      to bottom,
      transparent,
      var(--primary-background-color-light)
    ),
    url('@assets/images/playerdetail-bg-light.webp');
}

.Light .player-container .not-launched-section {
  background: var(--primary-background-color-light) !important;
}

.Light .coin-stat > a {
  color: var(--primary-text-color-light) !important;
  text-decoration: none;
}

.Light .player-container .player-chart .player-name {
  color: var(--primary-text-color-light) !important;
}

.Light .chart-period,
.Light .wallet-container .chart-period,
.Light .chart-dialog .chart-period {
  background-color: var(--secondary-background-color-light) !important;
}

.Light .player-container .button-line .button-box {
  border: 1px solid transparent !important;
}

.Light .user-card-setting .user-select {
  background-color: var(--third-background-color);
  color: var(--primary-text-color-light);
}

@media only screen and (min-width: 900px) {
  .Light .player-container .player-card {
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--primary-background-color-light)
      ),
      url('@assets/images/playercard-bg-light.webp');
  }
}

@media only screen and (min-width: 1800px) {
  .Light .player-container .player-card {
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--primary-background-color-light)
      ),
      linear-gradient(
        to left,
        transparent 90%,
        var(--primary-background-color-light) 95%
      ),
      linear-gradient(
        to right,
        transparent 90%,
        var(--primary-background-color-light) 95%
      ),
      url('@assets/images/playercard-bg-light.webp');
  }
}

@media only screen and (min-width: 2000px) {
  .Light .player-container .player-card {
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--primary-background-color-light)
      ),
      linear-gradient(
        to left,
        transparent 80%,
        var(--primary-background-color-light) 90%
      ),
      linear-gradient(
        to right,
        transparent 80%,
        var(--primary-background-color-light) 90%
      ),
      url('@assets/images/playercard-bg-light.webp');
  }
}

@media only screen and (min-width: 2200px) {
  .Light .player-container .player-card {
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--primary-background-color-light)
      ),
      linear-gradient(
        to left,
        transparent 75%,
        var(--primary-background-color-light) 80%
      ),
      linear-gradient(
        to right,
        transparent 75%,
        var(--primary-background-color-light) 80%
      ),
      url('@assets/images/playercard-bg-light.webp');
  }
}

@media only screen and (min-width: 2800px) {
  .Light .player-container .player-card {
    background-image: linear-gradient(
        to bottom,
        transparent,
        var(--primary-background-color-light)
      ),
      linear-gradient(
        to left,
        transparent 65%,
        var(--primary-background-color-light) 70%
      ),
      linear-gradient(
        to right,
        transparent 65%,
        var(--primary-background-color-light) 70%
      ),
      url('@assets/images/playercard-bg-light.webp');
  }
}

.Light .voting-polls .voting-disabled {
  color: var(--primary-text-color-light) !important;
}

.Light .social_media_link {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .social_media_link_mobile {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .wallet-container .chart-period {
  background-color: var(--secondary-background-color-light) !important;
}

.Light .pay-item-subtitle {
  color: var(--primary-text-color-light) !important;
}

.Light .my_settings_input {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .percentage_icon {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .new_percentage_value {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .list_of_items_wrapper {
  background: var(--secondary-background-color-light) !important;
}

.Light .welcome {
  color: var(--primary-text-color-light) !important;
}

.Light .term_text {
  color: var(--primary-text-color-light) !important;
}

.Light .check_sign_text {
  color: var(--primary-text-color-light) !important;
}

.Light > .player-card > .fixed-content > .img > .profile-img-loader {
  background: var(--primary-background-color-light);
}

/* PlayerDashboard.css */
.Light .player-dashboard-container {
  color: var(--primary-text-color-light) !important;
  background-color: var(--primary-background-color-light) !important;
}

.Light .player-dashboard-container .box-wrapper {
  background-color: var(--primary-tab-color-light);
}

.Light .player-dashboard-container .player-draft .item {
  background: unset !important;
}

.Light
  .player-dashboard-container
  .my-card-container
  .setting-container
  .accordion
  .item {
  background: unset !important;
}

.Light .player-dashboard-container > .player-coin > .player-value {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container > .player-coin > .accordion > .item {
  background: unset !important;
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .title
  > h2 {
  color: var(--primary-text-color-light);
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .content
  > .textinput-wrapper {
  background: var(--secondary-background-color-light) !important;
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .content
  > .white-color {
  color: var(--primary-text-color-light) !important;
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .contract-balance
  > .content
  > .cryptocurrency-desc {
  color: var(--primary-text-color-light) !important;
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .content
  > .player_reward_percentage_wrapper
  > .percentage_value_wrapper
  > input {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light
  .player-dashboard-container
  > .player-coin
  > .accordion
  > .item
  > .content
  > .player_reward_percentage_wrapper
  > .percentage_value_wrapper
  > .percentage_icon {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .player-coin-request > .player-dashboard-title {
  color: var(--primary-text-color-light) !important;
}

.Light .player-coin-request > .player-dashboard-desc {
  color: var(--primary-text-color-light) !important;
}

.Light .player-coin-request > form > .birthday > .dob-select {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light
  .player-coin-request
  > form
  > .player-dashboard-select
  > .MuiFormControl-root {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .player-coin-request > form > .textinput-wrapper > input {
  color: var(--primary-text-color-light) !important;
  background: var(--secondary-background-color-light) !important;
}

.Light .PhoneInput input {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .main-tabwrapper {
  background: var(--primary-background-color-light) !important;
}

.Light .player-dashboard-container .textinput-wrapper input {
  color: var(--primary-text-color-light) !important;
  /* background: var(--secondary-background-color-light) !important; */
}

.Light .player-dashboard-container .player-dashboard-title {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .player-dashboard-desc {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .player-dashboard-notification {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .terms-conditions-check div {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .accordion .title h2 {
  color: var(--primary-text-color-light) !important;
}

.Light .new-draft-title {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .nft-tab-title,
.Light .onboarding-popup .nft-tab-title {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-tab-container > .nft-tab-title {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-tab-container > div > .nft-tab-title {
  color: var(--primary-text-color-light) !important;
}

.Light .item-description {
  color: var(--primary-text-color-light) !important;
}

.Light .player-dashboard-container .NftList-poll-container .NftList-poll-item {
  background-color: var(--primary-background-color-light) !important;
}

.Light
  .player-dashboard-container
  .NftList-poll-container
  .NftList-poll-footer {
  color: var(--primary-text-color-light) !important;
}

.Light
  .player-dashboard-container
  .NftList-poll-container
  .poll-countdown-container
  .coming-soon-time-card {
  background: var(--secondary-background-color-light) !important;
}

.Light
  .player-dashboard-container
  .createpoll-input-item
  > .createpoll-textarea {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .bottom-close > .close-button {
  color: var(--primary-text-color-light) !important;
}

.Light
  .player-dashboard-container
  .my-card-container
  .setting-container
  .setting-colors
  .image-button {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .price-ticker-wrapper {
  background: var(--secondary-background-color-light) !important;
}

/* PlayerList.css */
.Light .player-list-container {
  background: var(--primary-background-color-light) !important;
}

.Light .player-list-container .dlg-content .list-header {
  background-color: var(--primary-background-color-light);
}

.Light .dob-select {
  background: var(--secondary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .player-list-container .row {
  box-shadow: 0 0 10px 10px var(--primary-shadow-color-light);
}

.Light .player-list-container .row:nth-child(odd) {
  background-color: var(--secondary-background-color-light);
}

.Light .player-list-container .row:nth-child(even) {
  background-color: var(--third-background-color-light);
}

.Light
  .player-list-container
  .row
  .players-table-container
  .nft-item:nth-child(odd) {
  background-color: var(--secondary-background-color-light);
}

.Light
  .player-list-container
  .row
  .players-table-container
  .nft-item:nth-child(even) {
  background-color: var(--third-background-color-light);
}

/* PlayerNft.css */
.Light .nft-container {
  background-color: var(--primary-background-color-light) !important;
}

.Light .nft-owner div a {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-mint-date div {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-container .nft-bid-info-header {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-detail-container {
  background-color: var(--primary-background-color-light);
}

.Light .modal-content > section.nft-view-container .nft-detail-container {
  background-color: var(--primary-background-color-light) !important;
}

.Light .nft-container .nft-bid-item {
  color: var(--primary-text-color-light) !important;
}

.Light .nft-container .nft-bid-item-amount {
  color: var(--primary-text-color-light) !important;
}

/* PurchaseNft.css */

.Light .purchase-container {
  background: var(--primary-background-color-light) !important;
}

.Light .pricing-value-text {
  color: var(--primary-text-color-light);
}

.Light .pricing-value-text.number-color.profit {
  color: var(--profit-color);
}

.Light .pricing-value-text.number-color.loss {
  color: var(--loss-color);
}

.Light .methods-heading {
  color: var(--primary-text-color-light) !important;
}

.Light .approve-blockchain {
  color: var(--primary-text-color-light) !important;
}

.Light .approve-blockchain {
  color: var(--primary-text-color-light) !important;
}

@media screen and (max-height: 699px) {
  .Light .approve-blockchain {
    color: var(--primary-text-color-light) !important;
  }
}

.Light .home-load {
  background-color: var(--primary-background-color-light) !important;
}

.Light .pay-detail > span {
  color: var(--primary-text-color-light) !important;
}

/* Staking.css */

.Light .player-name {
  color: var(--primary-text-color-light) !important;
}

.Light .button-inactive {
  background-color: var(--primary-background-color-light);
}

.Light .button-inactive:hover {
  color: var(--primary-text-color-light);
}

.Light .staked-amount-raw .staked-symbol-wrapper .minus-symbol {
  background-color: var(--primary-background-color-light);
}

.Light .staked-amount-raw .staked-symbol-wrapper .minus-symbol.button-active {
  background-color: var(--primary-foreground-color-light);
  color: var(--primary-text-color-light);
}

/* Terms&Conditions.css */
.Light .terms-container {
  background-color: var(--primary-background-color-light) !important;
  color: var(--primary-text-color-light) !important;
}

.Light .terms-subtitle {
  color: var(--primary-text-color-light) !important;
}

/* Wallet.css */
.Light .wallet-heading {
  color: var(--primary-text-color-light) !important;
}

.Light .wallet-text {
  color: var(--primary-text-color-light) !important;
}

.Light .balance-card {
  background: var(--secondary-background-color-light) !important;
}

.Light .bottom-popup-content .wallet-container .sub-title {
  color: var(--primary-text-color-light) !important;
}

/* Rest pages */
.Light .bottom.bottom-shadow {
  box-shadow: 0 0 10px 10px var(--primary-shadow-color-light);
}

.Light .player_level_diamond {
  background: linear-gradient(#c879f9, #8d64a7);
  -webkit-background-clip: text;
}

.Light .player_level_gold {
  background: linear-gradient(#f5b933, #bb9524);
  -webkit-background-clip: text;
}

.Light .player_level_silver {
  background: linear-gradient(#95979a, #6f6f76);
  -webkit-background-clip: text;
}

.Light .player_level_bronze {
  background: linear-gradient(#c37b47, #bf6f32);
  -webkit-background-clip: text;
}

.Light .user-card,
.Light .progress-bar-container,
.Light .user-container .user-summary-wrapper .user-summary-item,
.Light .user-container .players-list-item {
  background-color: var(--secondary-background-color);
}

.Light .user-container .players-list-option,
.Light .user-container .players-list-wrapper {
  background-color: var(--third-background-color);
}

.Light .star_wrapper.inactive {
  border: 4px solid var(--secondary-foreground-color);
}

@media only screen and (max-width: 700px) {
  .Light .user-card.user-card-supporter .user-info-wrapper .user-image .image-border {
    background-color: var(--primary-background-color);
  }
}

@media screen and (max-width: 420px) {
  .Light
    .nft-list-container
    .row:nth-child(even)
    .nft-list-grid-mob
    .circle-carousel
    .nft-card {
    border: 3px solid var(--primary-background-color);
  }

  .Light
    .nft-list-container
    .row:nth-child(odd)
    .nft-list-grid-mob
    .circle-carousel
    .nft-card {
    border: 3px solid var(--primary-background-color);
  }
}

.Light .player-dashboard-container .accordion .title .disabled-color {
  color: grey !important;
}

.Light .nft-detail-title {
  background: var(--secondary-background-color-light) !important;
}

.Light .owners_wrapper {
  background: var(--secondary-background-color-light) !important;
}

.Light .owner_list_wrapper {
  background: var(--secondary-background-color-light) !important;
}

.Light .boost_xp_box {
  background: var(--secondary-background-color-light) !important;
}

.Light .player-container .player-info-box {
  background: var(--secondary-background-color);
}

.Light .new-launches-nft-btn-group {
  background: var(--primary-background-color);
}

.Light .new-launches-nft-btn.active {
  background: var(--secondary-background-color);
}

.Light
  .app-landing-container
  .players-trending-section
  .section-wrapper
  .section-title-container,
.Light
  .app-landing-container
  .feed-section
  .section-wrapper
  .section-title-container {
  background-color: var(--secondary-background-color);
}

/* .landing-trending-section {
  margin: unset !important;
} */

.Light .app-landing-container .players-trending-section .trending-switch {
  background: var(--third-background-color);
}

.Light
  .app-landing-container
  .players-trending-section
  .trending-switch
  b.trending-switch-selected {
  background: var(--primary-background-color);
}

/* Scouts page */

.Light .scouts-count-item {
  background: var(--secondary-background-color);
}

.Light .scouts-section-wrapper .nft-item:nth-child(odd) {
  background-color: var(--third-background-color);
}

.Light .scouts-section-wrapper .nft-item:nth-child(even) {
  background-color: var(--secondary-background-color);
}

.Light .scouts-section-title .in-menu-search-header {
  background-color: var(--third-background-color);
}

.Light .scouts-section-title {
  background-color: var(--secondary-background-color);
}

.Light .scouts-section-wrapper .scouts-leaderboard-container {
  background-color: var(--primary-background-color);
}

.Light .scouts-section-wrapper .scouts-top5-container {
  background-color: var(--primary-background-color);
}

.Light .scouts-section-wrapper .scouts-top5-title {
  background-color: var(--secondary-background-color);
}

.Light .players-live-section .user-card.user-scouts-card-supporter {
  border-bottom: 1px solid #313241 !important;
}

.Light .players-live-section .user-card.user-scouts-card-supporter:last-child {
  border-bottom: unset !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Light
  .scouts-section-wrapper
  .scouts-top5-container
  .user-card.user-scouts-card-supporter {
  background-color: var(--primary-background-color);
}

.Light
  .user-card.user-scouts-card-supporter
  .user-info-wrapper
  .user-image
  .image-border {
  background-color: var(--secondary-background-color);
}

/* Players page */

.Light .players-count-item {
  background-color: var(--secondary-background-color);
}

.Light .players-coming-soon-wrapper .players-section-title {
  background-color: var(--primary-background-color);
}

/* Kiosk Page */

.Light .kiosk-title-wrapper {
  background: var(--primary-background-color);
}

.Light .kiosk-wrapper {
  background: var(--primary-tab-color);
}

.Light .kiosk-wrapper .nft-card .second-part {
  border-top: 1px solid var(--primary-tab-color);
}

.Light .kiosk-items .nft-card .second-part {
  border-top: 1px solid var(--primary-tab-color);
}

/* Tour */

.Light .dark-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.Light .tour-button.form-submit-btn {
  border: unset;
}

.Light .bright-rectangle .footer-wrapper {
  background: unset;
}

.Light .deposit-tour-wrapper .modal-content {  
  background: unset!important;
}

.Light .deposit-tour-wrapper .bottom-popup-content.wallet {  
  height: calc(min(671px, 82vh));
}

.Light .bright-rectangle.bright-rectangle-deposit-tour-step3 .modal-content > section {
  background: var(--primary-background-color) !important;
}

.Light .bg-dark-color.bright-area {
  background-color: #3d3d3d !important;
}

.Light .bright-rectangle .modal-content .purchase-container {
  background: unset;
}

.Light .bright-rectangle .bg-dark-color {
  background-color: #3d3d3d !important;
}

.Light .bright-rectangle .modal-content > section {
  background-color: #3d3d3d !important;
}

.Light .staking-tour-wrapper .staked {
  background: unset;
}

.Light .staking-tour-wrapper .button-inactive, .staking-tour-wrapper .button-inactive:hover{
  background: unset;
}

/* Box */

.Light .box-wrapper .section-title-container {
  background-color: var(--secondary-background-color);
}

.Light .box-wrapper .list-wrapper .box-item {
  background-color: var(--secondary-background-color);
}

.Light .user-container .top-trades-section .box-wrapper.section-wrapper {
  background-color: var(--third-background-color);
}

.Light .top-trades-container .box-wrapper.section-wrapper {
  background-color: var(--third-background-color);
}